<form [formGroup]="formGroup">
  <div>
    <input
      type="text"
      formControlName="name"
      placeholder="Name"
    >
  </div>

  <div>
    <input
      type="text"
      formControlName="email"
      placeholder="Email"
    >
  </div>

  <div>
    <input
      type="password"
      formControlName="password"
      placeholder="Password"
    >
  </div>

  <div>
    <input
      type="password"
      formControlName="confirmPassword"
      placeholder="Confirm password"
    >
  </div>

  <div>
    <button
      type="button"
      (click)="onSubmit()"
    >Sign up</button>
  </div>
</form>
