@font-face {
  font-family: 'RobotoR';
  src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoL';
  src: url('../src/assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoT';
  src: url('../src/assets/fonts/Roboto-Thin.ttf') format('truetype');
}